/*styling the body's background*/  
body {
    background: #ebebe3;
}
/*grid layout for css*/
.grid-container {
  display: grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
  "nav nav nav nav"
  "main main main main"
  "sidebar Portfolio Contact About"
  "sidebar footer footer footer";
  grid-gap: 0.2rem;
}

nav{
  background:#64fffa;
  grid-area: nav;
}
main{
  background:#67f8d6;
  grid-area: main;
}

#sidebar {
  background: #a7ffeb;
  grid-area: sidebar;
}

#Portfolio {
  background:#62ffba;
  grid-area: Portfolio;
}

#Contact {
  background: #1de9b6;
  grid-area: Contact;
}
#About {
  background: #18ffff;
  grid-area: About;
}

footer{
  background:#84ffff;
  grid-area: footer;
}
@media only screen and (max-width:480px) {
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
    "nav"
    "main"
    "sidebar"
    "Portfolio"
    "Contact"
    "About"
    "Footer";
  }
}