/*styling the body's background*/  
body {
    background: #0e0e09;
    font-family: 'Teko', sans-serif;
    font-size:x-large;
}
/*grid layout for css*/
.grid-container {
  display: grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
  "nav nav nav nav"
  "main main main main"
  "sidebar Portfolio Contact About"
  "sidebar Portfolio Contact About";
  grid-gap: 0.2rem;
}
/*Styling the grid-areas*/

nav{
  background:#0fe27f;
  grid-area: nav;
}
main{
  background:#0fe27f;
  grid-area: main;
}

#sidebar {
  background: #0fe27f;
  grid-area: sidebar;
}

#Portfolio {
  background:#0fe27f;
  grid-area: Portfolio;
}

#Contact {
  background: #0fe27f;
  grid-area: Contact;
}
#About {
  background: #0fe27f;
  grid-area: About;
}

footer{
  background:#0fe27f;
  grid-area: footer;
}

/*Animation of grids*/
@keyframes moveGrids {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.move-grid {
  animation: moveGrids 1s linear infinite;
}

/*For mobile devices*/
@media only screen and (max-width:480px) {
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
    "nav"
    "main"
    "sidebar"
    "Portfolio"
    "Contact"
    "About";
  }
}